src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.codelooru.com/custns" xmlns:tns="http://www.codelooru.com/custns">
    <xs:element name="createservice">
        <xs:complexType>
            <xs:attribute name="serviceId" use="required" type="xs:string"/>
            <xs:attribute name="daoId" use="required" type="xs:string"/>
            <xs:attribute name="fields" use="required" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>